body{
	background-color: white;
	font-family: "Avenir Next";
	margin: 0;
	padding: 0;
}

#nav{
	width: 100%;
	height: 121px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f2f2f2;
	line-height: 120px;
}

#navContainer{
	max-width: 1400px;
	height: 120px;
	margin: 0 auto;
	padding: 0 30px;
}

#logo{
	font-size: 50px;
	font-weight: 700;
	color: #0099FF;
	margin: 0;
	display: inline;
}

#logoImg{
	height: 50px;
	display: inline;
}

#formContainer{
	width: 700px;
	height: 280px;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	padding: 0 30px;
  	z-index: 1;
}

#formTitle{
	font-weight: 700;
	font-size: 60px;
	color: #303030;
}

#inputFields{
	text-align: center;
}

input{
	height: 40px;
	width: 500px;
	margin: 8px;
	border-radius: 12px;
	border-style: solid;
	border-color: #e0dede;
	border-width: 6px;
	padding: 9px 17px;
	font-size: 24px;
	font-weight: 600;
	color: #303030;
	letter-spacing: 1.3px;
}

input:focus{
	border-color: #0099FF;
	outline: 0;
}

input::-webkit-input-placeholder {
	font-family: "Avenir Next";
	font-size: 22px;
	font-weight: 500;
	margin-top: 15px;
	color: #e0dede;
	letter-spacing: 1.3px;
}

#search{
	width: 200px;
	height: 60px;
	margin-top: 30px;
	border-radius: 30px;
	background-color: #0099FF;
	font-weight: 700;
	font-size: 25px;
	color: white;
	border-style: none;
	letter-spacing: 1.8px;
	outline: 0;
}

#search:active{
	background-color: rgba(0, 153, 255, 0.6)
}

.recipeWrapper{
	padding-top: calc(100vh - 121px);
	margin: 0 auto;
	max-width: 1360px;
	z-index: 0;
}

.recipeContainer{
	height: inherit;
	padding-top: 20px;
}

.recipeBlock{
	margin: 15px;
	border-color: : #0099FF;
	border-width: 5px;
	width: 300px;
	border-radius: 5px;
	color: #0099FF;
	border-style: solid;
	transition: border-color 0.2s ease;
}

.recipeBlock:hover{
	border-color: rgba(0, 153, 255, 0.4);
}

.img{
	max-height: 420px;
	width: inherit;
}

.name{
	display: block;
	color: white;
	background-color: #0099FF;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
}

.ingredientsMissing{
	padding: 10px;
}

.likes{
	padding: 0px 10px;
	color: red;
}

.clickPart{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}
