body{
	background-color: #f4f4f4;
	font-family: "Avenir Next";
	margin: 0;
	padding: 0;
	counter-reset: item;
}

nav{
	width: 100%;
	height: 121px;
	line-height: 120px;
}

#navContainer{
	max-width: 1500px;
	height: 120px;
	margin: 0 auto;
	padding: 0 30px;
}

#logo{
	font-size: 60px;
	font-weight: 700;
	color: #0099FF;
	margin: 0;
	display: block;
	text-decoration: none;
	color: #292f33;
	font-family: Pacifico;
}

#logoImg{
	height: 50px;
	position: absolute;
	top: 33px;
	margin-left: 170px;
	cursor: pointer;
}

#container{
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

#main{
	padding-bottom: 40px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f2f2f2;
}

.instructionSpan{
	display: block;
	font-size: 20px;
}

#img{
	float: left;
	width: 520px;
	margin-top: 50px;
}

#title{
	font-size: 40px;
	padding-bottom: 20px;
	display: block;
}

#summary{
	width: 500px;
	float: left;
	margin: 20px 90px 0px 90px;
}

.description{
	padding-top: 40px;
}

.instructions, .ingredients{
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.instructions{
	width: 60%;
}

.ingredients{
	width: 40%;
}

#instructionsTitle, #ingredientsTitle{
	font-size: 40px;
	font-weight: 400;
	display: block;
}

#stepNumber{
	font-size: 30px;
}

.clear{
    clear:both;
    line-height:0;
}

a{
	text-decoration: none;
	color: #c1b17d;
}

ol {
  margin-left: 30px;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin-bottom: 10px;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
  text-transform: capitalize;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  color: #c1b17d;
  font-size: 20px; 
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}